.chart-container {
  display: flex;
  flex-direction: column;
}

.chart-block {
  box-shadow: 0 0 10px rgb(175, 175, 175);
}

.axis {
  font: 10px sans-serif;
}

.axis-title {
  text-anchor: end;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #000;
}

.axis--x path {
  display: none;
}

.axis--y .tick:not(.tick--one) line {
  stroke-opacity: .15;
}

.axis--x .tick:not(.tick--one) line {
  stroke-opacity: .15;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;

  &.buy {
    stroke: steelblue;
  }
  &.sell {
    stroke: #e01616;
  }
}

div.tooltip {
  position: absolute;
  text-align: center;
  max-width: 160px;
  padding: 5px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
  top: 0;
}

.chart-wrapper {
  padding: 20px;
  position: relative;
  background-color: rgb(241, 240, 239);

  &.points-line {
    .chart-info {
      position: absolute;
      top: 50px;
      left: 900px;

      .chart-info-line {
        margin-top: 5px;
        height: 12px;

        .chart-info-line-color {
          height: 12px;
          width: 20px;
          display: inline-block;
        }

        .chart-info-line-text {
          font-style: italic;
          font-size: 10px;
          display: inline-block;
        }
      }
    }
  }
}

.chart-header {
  text-align: center;
  font-size: 15px;

  .chart-time {
    font-size: 10px;
    margin-left: 10px;
  }
}

.circle {
  cursor: pointer;
}

.line-chart {
  .chart-info {
    position: absolute;
    top: 65px;
    right: 20px;
    width: 300px;
    height: 300px;
    background-color: whitesmoke;
    box-shadow: inset 0px 0px 9px 0px #afafaf;
    padding: 10px;

    .chart-info-header {
      top: -20px;
      position: absolute;
      font-size: 11px;
    }

    .chart-info-body {
      margin-bottom: 10px;

      .chart-info-body-name {
        font-style: italic;
      }
      .chart-info-body-value {
        margin-left: 20px;
      }
    }
  }
}

.chart-types {
  padding: 5px;
  background-color: #f1f0ef;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.axis--y path {
  display: none;
}

.cities {
  fill: none;
  stroke: #aaa;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5px;
}

// .city--hover {
//   stroke: #000;
// }

.focus text {
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.voronoi path {
  fill: none;
  pointer-events: all;
}

.voronoi--show path {
  stroke: red;
  stroke-opacity: 0.2;
}