.currencies-menu {
    display: flex;
    background-color: silver;

    .currencies-menu-item {
      padding: 10px;
      cursor: pointer;
  
      &:hover {
        background-color: #d8d8d8;
      }

      &.selected {
        background-color: rgb(241, 240, 239);
      }
    }
  }