.game-right, .game-left {
  width: 100px;
  height: 100px;
  background-color: #0077a2;
  position: absolute;

  .bubble {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
  }

  .board {
    position: absolute;
    width: 10px;
    height: 40px;
    background-color: white;
    right: 0;
  }
}