.es-profile-page {
  background-color: #f1f0ef;
  padding: 20px 50px;;

  .es-manage-controls {
    width: 50%;
  }

  .es-controls-container {
    text-align: right;
  }

  .es-header-container {
    padding: 50px 20px;

    .es-avatar {
      display: inline-block;
      height: 100px;
      width: 100px;
      background-color: silver;
      border-radius: 50%;
      font-size: 40px;
      text-align: center;
      padding: 25px;
    }

    .es-info {
      vertical-align: top;
      display: inline-block;
      padding-left: 50px;
      font-size: 15px;
    }
    .es-full-name {
      font-size: 25px;
      margin-bottom: 15px;
    }
  }
}
