.currencies {
  padding: 0 10px 10px;
  border-bottom: 1px solid #cecece;

  .es-exchange-button {
    margin-right: 10px;
    margin-right: 10px;
    padding: 4px 7px;
    background-color: #8aaed8;
    color: #f9f9f9;
    font-size: 12px;
    font-weight: 700;
    border-radius: 7px;
    border: 1px solid #797877;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.5);

    &:hover {
      cursor: pointer;
    }

    &.selected {
      background-color: #6f8caf;
      color: #585858;
      box-shadow: inset 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
    }
  }
}