header > .menu {
  display: flex;
  font-size: 11px;
  position: relative;

  a.link {
    &:hover, &.active {
      background-color: gainsboro;
      color: black;
    }

    padding: 10px 20px;
    text-decoration: none;
    color: #989898;
  }

  .es-login-container {
    position: absolute;
    right: 0;
    top: 10px;

    a {
      &:hover, &.active {
        color: black;
      }

      cursor: pointer;
      padding: 5px;
      text-decoration: none;
      color: #989898;
    }
  }
}