.es-notification-list {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 9999;
  padding: 1.25rem;

  .es-notification {
    position: relative;
    width: 200px;
    font-size: 11px;
    padding: .75rem 2rem .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &.success {
      color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
    }

    &.error {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
    }

    .es-notification-close-btn {
      position: absolute;
      top: 0;
      right: 0;
      float: right;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.2;
      opacity: .5;
      color: inherit;
      background-color: transparent;
      border: 0;
      padding: .6rem .85rem;
      box-shadow: none;
      text-shadow: 0 1px 0 #fff;
      cursor: pointer;

      &:hover, &:focus {
        opacity: .75;
      }
    }
  }
}