.popup-background {
  background-color: silver;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0.7;
}

.popup {
  position: absolute;
  left: 50%;
  z-index: 1003;

  .popup-content {
    .popup-header {
      position: relative;
      margin-bottom: 20px;

      .inactive {
        font-size: 25px;
        margin-right: 5px;
        color: #2196F3;
        font-weight: bold;
      }
      .active {
        cursor: pointer;
        text-decoration: none;
        margin-right: 10px;

        &:hover {
          text-decoration: underline;
        }
      }

      .close {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        height: 20px;
        opacity: 0.3;
        padding: 5px;

        &:before, &:after {
          position: absolute;
          left: 15px;
          content: ' ';
          height: 20px;
          width: 2px;
          background-color: #333;
        }

        &:hover {
          opacity: 1;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }

    .popup-footer {
      margin-top: 20px;
    }

    width: 400px;
    margin-top: 20%;
    margin-left: -50%;
    background-color: #f3f3f3;
    padding: 20px;
    box-shadow: 3px 3px 10px #969393;
  }
}