@import "variables.scss";
@import "mixin.scss";
@import "menu.scss";
@import "popup.scss";
@import "notification.scss";
@import "loader.scss";
@import "controls/button.scss";
@import "controls/input.scss";
@import "controls/radio-button.scss";
@import "pages/profile.scss";
@import "pages/chart.scss";
@import "pages/game.scss";
@import "pages/currency.scss";
@import "exchange.scss";
@import "currencies.scss";

@font-face {
  font-family: YanoneKaffeesatz-Bold;
  src: url('/public/fonts/Doubletwo Studios - XXIICentarRegular.otf');
}

html {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  width: 100%;
  font-family: YanoneKaffeesatz-Bold, Helvetica, Arial, sans-serif;
  font-size: 9px;
  font-style: normal;
  color: #5f5f5f;
  margin: 0;
  overflow: auto;
  background: url('/images/background.jpeg');
}

@media (max-width: $screen-sm) {
  header {
    margin: 0 15% 0;
  }

  main {
    margin: 0 15% 0;
    padding-top: 20px;
  }

  footer {
    padding: 10px 0;
    margin: 0 15% 0;
  }
}

@media (min-width: $screen-sm) and (max-width: $screen-md) {
  header {
    margin: 0 15% 0;
  }

  main {
    margin: 0 15% 0;
    padding-top: 20px;
  }

  footer {
    padding: 10px 0;
    margin: 0 15% 0;
  }
}

@media (min-width: $screen-md) and (max-width: $screen-lg) {
  header {
    margin: 0 15% 0;
  }

  main {
    margin: 0 15% 0;
    padding-top: 20px;
  }

  footer {
    padding: 10px 0;
    margin: 0 15% 0;
  }
}

@media (min-width: $screen-lg) {
  header {
    margin: 0 15% 0;
  }

  main {
    margin: 0 15% 0;
    padding-top: 20px;
  }

  footer {
    padding: 10px 0;
    margin: 0 15% 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

#es-application-container {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  background-color: #f1f0ef;
  // min-width: 1330px;

  .es-clock-time-string {
    z-index: 9;
    position: absolute;
    right: 10px;
    top: 60px;
    font-size: 12px;
    font-style: italic;
  }
}

main {
  background-color: rgb(241, 240, 239);
  box-shadow: 0 -5px 5px -4px rgb(175, 175, 175);
  // min-width: 1330px;

  background: url('/images/background.jpeg');
}

footer {
  background-color: #f1f0ef;
  text-align: right;
  box-shadow: 0 0px 10px 1px rgb(175, 175, 175);
  // min-width: 1330px;
}

.order-form {
  width: 200px;
  background-color: white;
  position: absolute;
  right: -200px;
}

.trades-wrapper {
  display: flex;
}

.scroll-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
  }
}

.trades-table {
  border-collapse: collapse;
  margin-right: 5px;

  .first-line {
    background-color: #6a6a6a;
    color: white;
  }

  .second-line {
    background-color: #5f7f4f;
    color: white;
  }

  .tr-buy {
    background-color: #4471b5;
    color: white;
  }

  .tr-sell {
    background-color: #ea104d;
    color: white;
  }

  tr {
    border-bottom: 1px solid #c5c5c5;
  }

  td {
    padding: 4px 5px;
  }

  button.cancel {
    padding: 2px 5px;
    border-radius: 8px;
    font-size: 9px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: #f2f6f9;
    color: black;
  }
}

.volume-chart {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 40px;
  background-color: white;

  .volume-chart-piece-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #b7b7b7;

    .volume-chart-piece {
      height: 8px;
      background-color: red;
      color: black;

      .volume-chart-piece-per {
        margin-left: -30px;
        border-bottom: 1px solid #b7b7b7;
      }
    }
  }

  .volume-chart-portions {
    display: flex;
    align-items: center;
    padding-bottom: 20px;

    .volume-chart-portions-piece {
      padding: 10px;
      cursor: pointer;

      &.selected {
        background-color: rgb(241, 240, 239);
      }

      &:hover:not(.selected) {
        background-color: #d8d8d8;
      }
    }

  }
}

a.a-link {
  &:hover, &.active {
    color: #2274b5;
  }

  padding: 10px 20px;
  text-decoration: none;
  color: #2196F3;
  cursor: pointer;
}