button {
  border: none;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  border-radius: 2px;
  font-size: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  background: #2196F3;
  position: relative;
  overflow: hidden;

  &.disabled {
    background-color: #dad7d7;
    box-shadow: 0 0;
    cursor: default;
  }

  &:focus {
    border: none;
    outline: none;
  }

  &:not(.disabled) {
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 5px;
      height: 5px;
      background: rgba(255, 255, 255, .5);
      opacity: 0;
      border-radius: 100%;
      transform: scale(1, 1) translate(-50%);
      transform-origin: 50% 50%;
    }

    &:focus:not(:active)::after {
      animation: button-ripple 1s ease-out;
    }
  }
}

@keyframes button-ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
