.controls-input {
  position: relative;
  margin: 5px 0px;

  > input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(97, 95, 95, 0.3);
    padding: 35px 5px 1px;
    background-color: transparent;
    width: 100%;

    &[disabled] {
      color: rgba(97, 95, 95, 0.3);
    }

    :focus {
      border: none;
      border-bottom: 1px solid black;
      padding: 35px 5px 1px;
      outline: none;
    }
  }

  > .placeholder {
    position: absolute;
    left: 5px;
    bottom: 1px;
    font-size: 15px;
    color: rgba(97, 95, 95, 0.3);

    @include transition(bottom 0.2s, font-size 0.2s, color 0.2s, transform 0.2s);
  }

  > .placeholder.selected {
    position: absolute;
    left: 5px;
    bottom: 35px;
    font-size: 12px;
    color: rgba(21, 20, 20, 0.3);

    @include transition(bottom 0.2s, font-size 0.2s, color 0.2s, transform 0.2s);
  }
}