.radio-btn-container {
    cursor: pointer;
    font-size: 12px;
    position: relative;
    margin-right: 20px;

    input {
      opacity: 0;
    }

    .name {
      font-style: italic;
    }

    .radio-btn {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid #cccccc;
      background-color: #8AAED8;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:hover .radio-btn {
      background-color: #6b8bb1;
    }

    &.selected {
      .radio-btn {
        background-color: #6F8CAF;
      }

      .radio-btn:after {
        content: "";
        position: absolute;
        background-color: #ffffff;
        width: 6px;
        height: 6px;
        top: 3px;
        left: 3px;
        border-radius: 50%;
      }
    }
  }