.es-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    padding-left: 16px;
    padding-top: 1px;
    font-style: italic;
    margin: 3px;
    

    &:after {
        content: '';
        position: absolute;
        background-color: #fff;
        border: 1px solid #000;
        width: 14px;
        height: 14px;
        top: 0;
        left: 0;
        z-index: 0;
    }
    
    &.selected:after {
        background-color: #6F8CAF;
    }
    
    &.selected:before {
        content: '';
        position: absolute;
        width: 6px;
        height: 9px;
        top: 1px;
        left: 4px;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transform: rotateZ(37deg);
        z-index: 1;
    }
}