.es-radio-button {
  position: relative;
  cursor: pointer;
  font-size: 12px;
  padding-left: 16px;
  padding-top: 1px;
  font-style: italic;
  margin: 3px;

  &:after {
      content: '';
      position: absolute;
      background-color: #6F8CAF;
      width: 14px;
      height: 14px;
      top: 0;
      left: 0;
      z-index: 0;
      border-radius: 50%;
  }
    
  &.selected:before {
      content: '';
      position: absolute;
      background-color: #fff;
      width: 6px;
      height: 6px;
      top: 4px;
      left: 4px;
      border-radius: 50%;
      z-index: 1;
  }
}