.es-pie-chart-wrapper {
  .es-price-statistics-header {
    font-style: italic;
    font-size: 15px;
    text-align: center;
  }

  .es-chart-hint {
    font-style: italic;
    text-align: left;
    padding-left: 25px;
    font-size: 11px;
  }

  .es-exchange-types-filter, .es-chart-types-filter, .es-currency-filter {
    margin: 10px;
  }
  
  .es-svg-info-text {
    font-style: italic;
    font-size: 9px;
  }

  padding: 20px;
  position: relative;
  background-color: rgb(241, 240, 239);
}